<h1>Bem vindo ao nosso blog</h1>
<h3>Veja abaixo nossos conteudos</h3>

{{#each posts}}
    {{> post}}
{{/each}}

<p><a href="/initPage">Home Page</a></p>
<p><a href="/post">Voltar página anterior</a></p>