<h1>Bem vindo aos Posts do Blog</h1>

{{#with postBlog}}
    <h2>{{tittle}}</h2>
    <h3>Categoria: {{category}}</h3>
    <p>{{body}}</p>
    <p>Comentarios: {{comments}} pessoas</p>
{{/with}}

<p><a href="/initPage">Voltar Home</a></p>
<p><a href="/blog">Ir para o blog</a></p>