<div id="book-page">
    <a href="/books">Voltar</a>
    <div class="container">
        <h1>{{dataBooks.title}}</h1>
        <p>Este livro tem {{dataBooks.pageqty}} páginas.</p>
        <div class="actions">
            <a href="/books/edit/{{dataBooks.id}}">Editar</a>
        </div>
    </div>
</div>