<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
</head>
<body>
    <nav>
        <h1>Barra de Navegação</h1>
    </nav>
    {{{body}}}
    <footer>
        <h3>Rodapé</h3>
    </footer>
    
</body>
</html>