<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Exercicio</title>
</head>
<body>
    <nav>
        <div id="navibar">
            <h1>Barra de Navegação</h1>
        </div>
    </nav>    
    {{{body}}}
    <footer>
        <p>&copy; Denis Diogo dos Santos</p>
    </footer>
</body>
</html>